.new__products {
  background-color: $color-hotline;
  padding: 60px 0;
}
.list__products {
  @include flex(flex-center, space-between, wrap);
  margin-bottom: 56px;
}
.product-new {
  width: 370px;
  padding-bottom: 36px;
  background-color: #fff;
  border: 2px solid $color-hotline;
  box-shadow: 8px 12px 8px 7px #e8e8e8;
  margin-bottom: 34px;
  .img-new {
    width: 370px;
    height: 247px;
    margin-bottom: 8px;
    &:hover {
      opacity: 0.5;
      transition: all 0.5s ease;
    }
  }
  .text-product {
    padding: 0 17px;
    .info-product {
      font-size: 19px;
      line-height: 24px;
      color: #000;
      margin-bottom: 8px;
      &:hover {
        text-decoration: underline;
      }
    }
    .time {
      font-size: 13px;
      line-height: 24px;
      color: $color-time-day;
      margin-bottom: 8px;
    }
    .text-new {
      font-size: 15px;
      line-height: 20px;
      color: $color-text;
    }
  }
}
.paging {
  @include flex(center, center);
  .page-number {
    background-color: #fff;
    padding: 12px 15px;
    margin: 8px;
    color: $color-text-top;
    border: 2px solid $color-hotline;
    box-shadow: 8px 12px 8px 7px #e8e8e8;
    border-radius: 2px;
    &:hover,
    &:focus {
      background-color: $color-moss-green;
      color: #000;
    }
  }
}
@media (max-width: 798px) {
  .container {
    max-width: 740px;
    margin: 0 auto;
  }
  .product-new {
    width: 100%;
    .img-new {
      width: 100%;
      height: 267px;
    }
  }
}
